*
!/*.tf
!/.gitignore
!/images
!/images/**
!/modules
!/modules/network
!/modules/network/*.tf
!/modules/network/files
!/modules/network/files/*.sh
!/modules/webserver
!/modules/webserver/*.tf
!/modules/webserver/files
!/modules/webserverfiles/*.sh
!/v1
!v1/*.tf


